.colorslider {
  width: 80%;
  display: inline-block;
  margin-bottom: 0;
}
.colorslider-container {
  text-align: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  font-weight: bolder;
  flex: none;
  max-width: 15rem;
}
.colortoggle {
  float: right;
}
.flexible {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
